node_modules/
dist/
build/
.vite/
*.log
*.tsbuildinfo
*.tsbuildinfo.*
*.tmp/
.env
.env.local
*.zip
*.tar.gz
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace
*.vscode/
*.eslintcache
*.prettiercache
*.cache/
coverage/
*.nyc_output/
*.tscache/


